.page {
  font-family: Arial, sans-serif;
  display: block;
}

.appContainer {
  width: 100%;
  min-height: 10px;
  background: #CCB67A;
}

.mainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  height: 100px;
  background: #000;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navItem {
  cursor: pointer;
  padding: 10px;
  background: #EFEBBD;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.navItem:hover {
  background: #CCB67A;
}

.contentArea {
  padding: 20px;
  background: #EFEBBD;
  border-radius: 10px;
}

.backBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #896400;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.backBtn:hover {
  background: #CCB67A;
}


.memberServices {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.lodgeOfficers {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.lodgeInformation {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.recentAnnouncements {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.upcomingEvents {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
